<nav class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li><a [routerLink]="['/home']">Home</a></li>-->
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#author">Author</a></li>
            </ul>
            <ul class="social">
                <li>
                    <a href="https://twitter.com/TMOFbook" target="_blank" alt="Twitter">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 160 130.009" style="enable-background:new 0 0 160 130.009;" xml:space="preserve">
                            <path class="st0" d="M50.317,130.009c60.377,0,93.402-50.023,93.402-93.402c0-1.421,0-2.835-0.096-4.243
	                            c6.424-4.647,11.97-10.401,16.377-16.992c-5.991,2.655-12.347,4.396-18.854,5.165c6.853-4.103,11.981-10.555,14.433-18.157
	                            c-6.444,3.824-13.494,6.519-20.846,7.968C122.301-2.872,101.506-3.51,88.287,8.922c-8.525,8.018-12.143,19.965-9.497,31.365
	                            c-26.395-1.323-50.986-13.79-67.654-34.297C2.423,20.988,6.874,40.177,21.299,49.81c-5.224-0.155-10.334-1.564-14.899-4.109
	                            c0,0.134,0,0.275,0,0.416c0.004,15.626,11.02,29.084,26.336,32.179c-4.833,1.317-9.903,1.511-14.822,0.563
	                            c4.3,13.372,16.625,22.533,30.669,22.797c-11.624,9.135-25.984,14.095-40.768,14.08c-2.612-0.006-5.221-0.164-7.814-0.475
	                            c15.012,9.635,32.479,14.745,50.317,14.721" />
                        </svg>
                    </a>
                </li>
                <li>
                    <a href="mailto:thematteroffaith@gmail.com" target="_top" alt="thematteroffaith@gmail.com">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 36.571 256 182.857" style="enable-background:new 0 36.571 256 182.857;" xml:space="preserve">
                                <path d="M128,164.571L96.329,136.85L5.778,214.473c3.292,3.055,7.735,4.956,12.635,4.956h219.172
			                        c4.883,0,9.308-1.901,12.581-4.956l-90.496-77.623L128,164.571z" />
                                <path d="M250.222,41.527c-3.292-3.072-7.716-4.956-12.636-4.956H18.414c-4.882,0-9.307,1.902-12.599,4.992
			                        L128,146.285L250.222,41.527z" />
                                <polygon points="0,52.626 0,204.544 88.375,129.444" />
                                <polygon points="167.625,129.444 256,204.544 256,52.571" />
                        </svg>
                    </a>
                </li>
                <li class="alt">
                    <a href="https://www.amazon.co.uk/dp/B073TLPFC1/" target="_blank" alt="Download">
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="2.731 0 47.295 52.755" style="enable-background:new 2.731 0 47.295 52.755;"
                             xml:space="preserve">
                            <path d="M26.106,29.059l10.523-10.523c1.047-1.024,0.813-1.746-0.649-1.746h-5.873L30.108,4c0-2.209-1.791-4-4-4l0,0
				                c-2.209,0-4,1.791-4,4l-0.001,12.789h-5.876c-1.462-0.001-1.693,0.723-0.646,1.747L26.106,29.059z" />
                            <path d="M49.026,25.77h-6.049c-0.554,0-1,0.447-1,1v17.938H10.78V26.77c0-0.553-0.447-1-1-1H3.731c-0.553,0-1,0.447-1,1v20.464
				                c0,3.045,2.479,5.521,5.524,5.521h36.248c3.046,0,5.523-2.479,5.523-5.521V26.77C50.026,26.217,49.581,25.77,49.026,25.77z" />
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>