<div class="row home">

    <section id="home">
        <h1>The Matter of Faith</h1>
        <h4>A novel by Bethany Wren</h4>

        <a href="https://www.amazon.co.uk/dp/B073TLPFC1/" target="_blank" class="buy" alt="Buy for Amazon Kindle">
            <span>OUT NOW</span>
            <img src="/assets/cover-small.jpg" class="cover" alt="Book cover" />
            <img src="/assets/kindle-logo.svg" class="kindle-logo" alt="Amazon Kindle logo" />
        </a>

        <p>A compelling and provocative new novel about a future where religion has died out.</p>
        <p><i>Or has it?</i></p>

        <!--<a href="https://www.amazon.co.uk/dp/B073TLPFC1/" target="_blank" class="btn btn-buy">Buy Now</a>-->

        <p>Toby has grown up in a world where religion is obsolete. The only thing they worship is technology, and the nearest thing they have to a god is science.</p>
        <p>But now he’s being torn away from everything he knows and forced by his uncle onto a secret government mission to make contact with an isolated group of people who still Believe.</p>
        <p>Maria is a Believer living under the rule of her enigmatic leader, the Mastor, and having to make a decision that will change her life forever. But as her and Toby meet, they discover that there is much to learn in the other. Together they find themselves fighting in a war in which they can never be sure whose side they are on.</p>
        <p>The concepts of god and good, religion and reality collide to ensure that nothing will ever be the same again.</p>
    </section>

    <section id="about">
        <h4>About the book</h4>
        <p>Eternally interested in religion and its power to move and change people, to alienate and mobilise humans, and to always, always, cause in equal parts joy and suffering, <i>The Matter of Faith</i> explores these themes through the eyes of two young innocents as they come to know the power of the people around them, of their faith and their beliefs and, above all, of themselves.</p>
        <p>Over five years in the making, it is the first in a trilogy.</p>
    </section>

    <section id="author">
        <h4>About the author</h4>
        <p>Bethany Wren is an English Literature graduate who currently lives and works in London but, like all aspiring writers do, spends her weekends and evening writing: putting the finishing touches to her first novel, and starting to complete its sequel.</p>
        <p><i>The Matter of Faith</i> has followed its author around through the end of her teenage years, her time at university, her months living abroad and her months travelling around the world. It is simultaneously a piece of her and a piece of the world around her.</p>
        <p>If you think <i>The Matter of Faith</i> is of interest to you, you can support Bethany by buying the book and reading it.</p>
        <p>Got any feedback? Let her know what you think by leaving a review.</p>
    </section>

    <section>
        <p>Enjoyed <i>The Matter of Faith</i>? Do not fear: the second book is well underway and will be available to buy at some point in the future.</p>
    </section>

</div>